examples/schema/HelloWorld/HelloWorld.xsd

<xsd:schema targetNamespace="urn:helloWorld/sample/ibm/HelloWorld"
            xmlns:tns="urn:helloWorld/sample/ibm/HelloWorld"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="hello">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="helloResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="response" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
